## Experiment No. 3
Aim: To perform at least two programs related to Data handling and manipulation.

Exercise 1: Write a program to create a one-dimensional array and then convert it to a Python list.

In [ ]:
# Import library.
import pandas as pd

# Declare a Pandas data series, identify its type and display it.

ds = pd.Series([2, 4, 6, 8, 10])
print("Pandas Series and type")
print(ds)
print(type(ds))

# Convert Pandas Series to Python list.
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[2, 4, 6, 8, 10]
<class 'list'>

Exercise 2: Write a program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
# Import Library.
import pandas as pd

# Declare 2 Pandas series.
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
print(ds1)
print(ds2)

# addition of Pandas series.
ds_add = ds1 + ds2
print("Add two Series:")
print(ds_add)

# subtraction of Pandas series.
print("Subtract two Series:")
ds_sub = ds1 - ds2
print(ds_sub)

# Multiplication of Pandas series.
print("Multiply two Series:")
ds_multi = ds1 * ds2
print(ds_multi)

# Division of Pandas series.
print("Divide Series1 by Series2:")
ds_div = ds1 / ds2
print(ds_div)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
1    3
2    5
3    7
4    9
dtype: int64
Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64


Sample dataframe:

exam_data = {'name': ['Kiran', 'Dinesh', 'Karthik', 'Jayesh', 'Rajan', 'Mahesh', 'Madhav', 'Lavkesh', 'Bhushan', 'Jaya'],

'score': [12, 9, 16, 8, 9, 20, 14, 12, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**Exercise 3**

Write a program to create and display a DataFrame from above data with index labels. Also display basic information of the dataframe.

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Kiran', 'Vijay', 'Karti', 'Nirav', 'Rajan', 'Viraj', 'Suraj', 'Manoj', 'Ashok', 'Jaya'],
        'score': [12, 9, 16, 8, 9, 20, 14, 12, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

print("\nSummary of the basic information about this DataFrame and its data:")
print(df.info())

    name  score  attempts qualify
a  Kiran     12         1     yes
b  Vijay      9         3      no
c  Karti     16         2     yes
d  Nirav      8         3      no
e  Rajan      9         2      no
f  Viraj     20         3     yes
g  Suraj     14         1     yes
h  Manoj     12         1     yes
i  Ashok      8         2      no
j   Jaya     19         1     yes

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     10 non-null     int64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: int64(2), object(2)
memory usage: 400.0+ bytes
None

Exercise 4:

Write a program to select the rows where

1) the number of attempts in the examination is greater than 1.

2) where student score is less than 10.

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Kiran', 'Vijay', 'Karti', 'Nirav', 'Rajan', 'Viraj', 'Suraj', 'Manoj', 'Ashok', 'Jaya'],
        'score': [12, 9, 16, 8, 9, 20, 14, 12, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print("Number of attempts in the examination is greater than 1:")
print(df[df['attempts'] > 1])

print("\nRows where student score is less than 10:")
print(df[df['score']<10])

Number of attempts in the examination is greater than 1:
    name  score  attempts qualify
b  Vijay      9         3      no
c  Karti     16         2     yes
d  Nirav      8         3      no
e  Rajan      9         2      no
f  Viraj     20         3     yes
i  Ashok      8         2      no

Rows where student score is less than 10:
    name  score  attempts qualify
b  Vijay      9         3      no
d  Nirav      8         3      no
e  Rajan      9         2      no
i  Ashok      8         2      no

Exercise 5:

Write a program to select the rows where the number of attempts in the examination is less than 2 and student score is more than 10.

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Kiran', 'Vijay', 'Karti', 'Nirav', 'Rajan', 'Viraj', 'Suraj', 'Manoj', 'Ashok', 'Jaya'],
        'score': [12, 9, 16, 8, 9, 20, 14, 12, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print("Number of attempts in the examination is less than 2 and score greater than 10 :")
print(df[(df['attempts'] < 2) & (df['score'] > 10)])

Number of attempts in the examination is less than 2 and score greater than 10 :
    name  score  attempts qualify
a  Kiran     12         1     yes
g  Suraj     14         1     yes
h  Manoj     12         1     yes
j   Jaya     19         1     yes

Exercise 6:

Write a program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order.

In [ ]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Kiran', 'Vijay', 'Karti', 'Nirav', 'Rajan', 'Viraj', 'Suraj', 'Manoj', 'Ashok', 'Jaya'],
        'score': [12, 9, 16, 8, 9, 20, 14, 12, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

print("Unsorted data is:")
print(df)

df2 = df.sort_values(by=['name', 'score'], ascending=[False, True])
print("The data frame is sorted first by ‘name’ in descending order, then by ‘score’ in ascending order:")
print(df2)

Unsorted data is:
    name  score  attempts qualify
a  Kiran     12         1     yes
b  Vijay      9         3      no
c  Karti     16         2     yes
d  Nirav      8         3      no
e  Rajan      9         2      no
f  Viraj     20         3     yes
g  Suraj     14         1     yes
h  Manoj     12         1     yes
i  Ashok      8         2      no
j   Jaya     19         1     yes
The data frame is sorted first by ‘name’ in descending order, then by ‘score’ in ascending order:
    name  score  attempts qualify
f  Viraj     20         3     yes
b  Vijay      9         3      no
g  Suraj     14         1     yes
e  Rajan      9         2      no
d  Nirav      8         3      no
h  Manoj     12         1     yes
a  Kiran     12         1     yes
c  Karti     16         2     yes
j   Jaya     19         1     yes
i  Ashok      8         2      no

Exercise 4: With reference to below solve exercise 4A - 4D.

player_data1:

      player_id              name  			highest

0         S1  		Kiran More		200

1         S2      		Mohd Azhar    	210

2         S3      		Jasprit Bumrah    	190

3         S4        		Ajay Jadeja    	122

4         S5       		Manprit Bawa    	201

player_data2:

      player_id              name  			highest

0         S4  		AB DeVilliers    	201

1         S5  		Carl Hooper    	200

2         S6      		Brian Lara    		198

3         S7    		Kane Williamson    	219

4         S8   		Babar Azam		201

Exercise 4A:

Write a program to

1.   join the two given data frames along rows.
2.   join the two given data frames along columns.

In [ ]:
import pandas as pd

player_data1 = pd.DataFrame({
        'player_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Kiran More', 'Mohd Azhar', 'Jasprit Bumrah', 'Ajay Jadeja', 'Manprit Bawa'],
        'highest': [200, 210, 190, 122, 201]})

player_data2 = pd.DataFrame({
        'player_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['AB DeVilliers', 'Carl Hooper', 'Brian Lara', 'Kane Williamson', 'Brit Marling'],
        'highest': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(player_data1)
print("\n-------------------------------------")
print(player_data2)
print("\nResult after joining two dataframes along rows:")
player_data_row = pd.concat([player_data1, player_data2])
print(player_data_row)

print("\nResult after joining two dataframes along columns:")
player_data_column = pd.concat([player_data1, player_data2], axis = 1)
print(player_data_column)

Original DataFrames:
  player_id            name  highest
0        S1      Kiran More      200
1        S2      Mohd Azhar      210
2        S3  Jasprit Bumrah      190
3        S4     Ajay Jadeja      122
4        S5    Manprit Bawa      201

-------------------------------------
  player_id             name  highest
0        S4    AB DeVilliers      201
1        S5      Carl Hooper      200
2        S6       Brian Lara      198
3        S7  Kane Williamson      219
4        S8     Brit Marling      201

Result after joining two dataframes along rows:
  player_id             name  highest
0        S1       Kiran More      200
1        S2       Mohd Azhar      210
2        S3   Jasprit Bumrah      190
3        S4      Ajay Jadeja      122
4        S5     Manprit Bawa      201
0        S4    AB DeVilliers      201
1        S5      Carl Hooper      200
2        S6       Brian Lara      198
3        S7  Kane Williamson      219
4        S8     Brit Marling      201

Result after joining two dataframes along columns:
  player_id            name  highest player_id             name  highest
0        S1      Kiran More      200        S4    AB DeVilliers      201
1        S2      Mohd Azhar      210        S5      Carl Hooper      200
2        S3  Jasprit Bumrah      190        S6       Brian Lara      198
3        S4     Ajay Jadeja      122        S7  Kane Williamson      219
4        S5    Manprit Bawa      201        S8     Brit Marling      201

Exercise 4B:

Write a program to join the two given data frames along rows and merge with another dataframe along the common column id.


player_data3:

   	player_id  	strike_rate

0          S1       	23

1          S2       	45

2          S3       	12

3          S4       	67

4          S5       	21

5          S7       	55

6          S8       	33

7          S9       	14

8         S10       	56

9         S11       	83

10        S12       	88

11        S13       	12

In [ ]:
import pandas as pd

player_data1 = pd.DataFrame({
        'player_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Kiran More', 'Mohd Azhar', 'Jasprit Bumrah', 'Ajay Jadeja', 'Manprit Bawa'],
        'highest': [200, 210, 190, 122, 201]})

player_data2 = pd.DataFrame({
        'player_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['AB DeVilliers', 'Carl Hooper', 'Brian Lara', 'Kane Williamson', 'Brit Marling'],
        'highest': [201, 200, 198, 219, 201]})

player_data3 = pd.DataFrame({
        'player_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'strike_rate': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("Original DataFrames are:")
print(player_data1)
print("\n-------------------------------------")
print(player_data2)
print("\n-------------------------------------")
print(player_data3)

print("\nJoin first two player dataframes along rows:")
player_data_row = pd.concat([student_data1, student_data2])
print(player_data_row)

print("\nNow join the third dataframe along player_id:")
final_merged_data = pd.merge(player_data_row, player_data3, on='player_id')
print(final_merged_data)

Original DataFrames are:
  player_id            name  highest
0        S1      Kiran More      200
1        S2      Mohd Azhar      210
2        S3  Jasprit Bumrah      190
3        S4     Ajay Jadeja      122
4        S5    Manprit Bawa      201

-------------------------------------
  player_id             name  highest
0        S4    AB DeVilliers      201
1        S5      Carl Hooper      200
2        S6       Brian Lara      198
3        S7  Kane Williamson      219
4        S8     Brit Marling      201

-------------------------------------
   player_id  strike_rate
0         S1           23
1         S2           45
2         S3           12
3         S4           67
4         S5           21
5         S7           55
6         S8           33
7         S9           14
8        S10           56
9        S11           83
10       S12           88
11       S13           12

Join first two player dataframes along rows:
  player_id             name  highest
0        S1       Kiran More      200
1        S2       Mohd Azhar      210
2        S3   Jasprit Bumrah      190
3        S4      Ajay Jadeja      122
4        S5     Manprit Bawa      201
0        S4    AB DeVilliers      201
1        S5      Carl Hooper      200
2        S6       Brian Lara      198
3        S7  Kane Williamson      219
4        S8     Brit Marling      201

Now join the third dataframe along player_id:
  player_id             name  highest  strike_rate
0        S1       Kiran More      200           23
1        S2       Mohd Azhar      210           45
2        S3   Jasprit Bumrah      190           12
3        S4      Ajay Jadeja      122           67
4        S4    AB DeVilliers      201           67
5        S5     Manprit Bawa      201           21
6        S5      Carl Hooper      200           21
7        S7  Kane Williamson      219           55
8        S8     Brit Marling      201           33